.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover !important;
  background-color: #344b66;
  color: white;
  align-items: stretch;
  flex: 1;
}